<div class="nav-top">
        <ul class="button-grid">
     <li class="push-1-2 button">
     <a  class="gutter brand-family" href="{{site.baseurl}}/index.html">Home</a></li>
     <li class="push-1-2 button">
     <a  class="gutter brand-family" href="{{site.baseurl}}/about.html">About</a></li>
     <li class="push-1-2 button">
     <a  class="gutter brand-family" href="{{site.baseurl}}/gallery.html">Gallery</a></li>
     <li class="push-1-2 button">
     <a  class="gutter brand-family" href="{{site.baseurl}}/contact.html">Contact</a></li>
        </ul>
        </div>
